/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'DejaVu';
    src: URL('../assets/fonts/DejaVuSans.ttf') format('truetype');
  }

  @font-face {
    font-family: 'DejaVu-bold';
    src: URL('../assets/fonts/DejaVuSans-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'DejaVu-bold';
    src: URL('../assets/fonts/DejaVuSans-Bold.ttf') format('truetype');
  }

  body{
      margin:0px;
      position: relative !important;
  }

  *{
      font-family: DejaVu;
  }

h2, h5 {
    font-weight: lighter;
  }

  .white-text {
    color:#fff !important;
  }

  .clearfix {
    overflow: auto;
  }
