
<!-- Search Gif Section -->

<div class="search-sec-skin">
  <h1>Gif Search</h1>
  <div class="clearfix margin-form-bottom">
    <form [formGroup]="searchForm" class="search-form">
      <input type="text" formControlName="searchText" (input)="searchBox()" placeholder="Search">
      <select formControlName="selectTags" (change)="setGifsTag()">
        <option value="All">All</option>
        <option *ngFor="let items of categoryList">{{items.name}}</option>
      </select>
      <button type="button" (click)="searchGif()">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
    <h2>You can search any gif with our search</h2>
    <h5>Everything you need for your creative projects, websites, banners, presentations, magazines and advertising.</h5>
</div>

<!-- Search Gif Section ends here-->

<!-- Image Search Result -->

<div class="image-container">
  <div class="image-cover" *ngFor="let item of this.searchResult">
    <img src="{{item.images.downsized.url}}">
  </div>
</div>

<!-- Image Search Result ends here-->

<!-- Footer Section-->

<div class="sub-footer-skin">
  <div class="row-grid">
    <div class="column-item">
      <h2 class="white-text margin-sign-up">Sign up and <br> get free content every week</h2>
      <div>
        <input type="text" class="input-control" placeholder="Enter your email..." />
      </div>
      <button type="submit" class="sign-up-btn">Sign Up</button>
    </div>
    <div class="column-item">
    </div>
    <div class="column-item">
      <h2 class="white-text margin-browse-cat">Browse by categories</h2>
      <div class="flex-list">
        <ul>
          <li>
            <a href="#">
              Graphics
            </a>
          </li>
          <li>
            <a href="#">
              PSDs
            </a>
          </li>
          <li>
            <a href="#">
              Icons
            </a>
          </li>
          <li>
            <a href="#">
              Templates
            </a>
          </li>
          <li>
            <a href="#">
              Themes
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#">
              Addons
            </a>
          </li>
          <li>
            <a href="#">
              Fonts
            </a>
          </li>
          <li>
            <a href="#">
              Textures
            </a>
          </li>
          <li>
            <a href="#">
              Patterns
            </a>
          </li>
          <li>
            <a href="#">
              Backgrounds
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#">
              Buttons
            </a>
          </li>
          <li>
            <a href="#">
              Forms
            </a>
          </li>
          <li>
            <a href="#">
              GUI
            </a>
          </li>
          <li>
            <a href="#">
              Navigation
            </a>
          </li>
          <li>
            <a href="#">
              UI Kits
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#">
              Inforgraphics
            </a>
          </li>
          <li>
            <a href="#">
              Graphics
            </a>
          </li>
          <li>
            <a href="#">
              Logos
            </a>
          </li>
          <li>
            <a href="#">
              Vectors
            </a>
          </li>
          <li>
            <a href="#">
              Bussiness Cards
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>  
<div class="footer-skin">
  <div class="row-grid-footer">
    <div class="column-item-footer">
      <ul class="quick-links">
        <li>
          <a href="#">
            Affiliates
          </a>
        </li>
        <li>
          <a href="#">
            Contributors
          </a>
        </li>
        <li>
          <a href="#">
            Press/Media
          </a>
        </li>
        <li>
          <a href="#">
            Careers
          </a>
        </li>
        <li>
          <a href="#">
            About
          </a>
        </li>
        <li>
          <a href="#">
            Contact
          </a>
        </li>
      </ul>
    </div>
    <div class="column-item-footer"></div>
    <div class="column-item-footer">
      <ul class="social-links">
        <li>
          <a href="#">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-rss" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row-grid-footer">
    <div class="column-item-footer">
      <div class="copy-right-text">
        Copyright 2018 myCompany All rights reserved.
      </div>
    </div>
  </div>
</div>

<!-- Footer Section ends-->
